<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <!--<httpHandlers>
      <add verb="*" path="*.hello" type="HTTPHandlers.App_Code.HelloHandler"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <!--<handlers>
      <add  verb="*" path="*.hello" name="HelloHandler" type="HTTPHandlers.App_Code.HelloHandler" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>
    </handlers>-->
    <handlers>
      <add verb="*" path="*.hello" name="HelloHandler" type="HTTPHandlers.App_Code.HelloHandler"/>
    </handlers>
  </system.webServer>
</configuration>